/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

Card - #151515
SandyBrown - #F8A244
Dark - #F07A03
Darker - #D45102





*/
.card-link {
  text-decoration: none;
}
.card-container {
  position: relative;
  width: 22rem;
  height: 40rem;
  background-color: #151515;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  padding: 10px 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.399);
}
.card-loader {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: relative;
  width: 22rem;
  height: 40rem;
  background-color: #151515;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  padding: 10px 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.399);
}

.card-img {
  width: 70%;
  height: 100%;
}
.info {
  margin: 20px 0;
  font-size: 1.2rem;
}

.btn-wishlist {
  position: absolute;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #f07a03;
  color: #151515;
  bottom: 0;
  text-transform: uppercase;
  transform: translate(-50%, 0);
}

.btn-disable {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  width: 150px;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: gray;
  color: #151515;
}

.loader{
  position: absolute;
  top: 50%;
  transform: translate(50%,-50%);
}