.search-bar {
  border: none;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  background-color: #4d4d4d;
  color: white;
}
.search-bar:focus {
  outline: none;
}
